{
	email {$CADDY_EMAIL}
}

{$PAPRIKA_DOMAIN} {
	encode zstd gzip

	@api path /api/*
	@admin path /admin*
	@static path /static/*
	@media path /media/*

	handle @api {
		reverse_proxy backend:8000
	}

	handle @admin {
		reverse_proxy backend:8000
	}

	handle @static {
		root * /var/lib/paprika
		file_server
	}

	handle @media {
		root * /var/lib/paprika
		file_server
	}

	handle_path /docs/* {
		root * /srv/docs
		file_server
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
	}
}
