POSTGRES_HOST=pg
POSTGRES_PORT=5432
POSTGRES_DB=paprika
POSTGRES_USER=paprika
POSTGRES_PASSWORD=db_password

PAPRIKA_SECRET_KEY=super-secret-key-at-least-32-bytes
PAPRIKA_DEBUG=true
PAPRIKA_ALLOWED_HOSTS=localhost,127.0.0.1
